html,body{
    width: 100%;
    height: 100%;
    background-color:green;
    
}

/*****************************************************************/
/*Aufgabe 1:*/

.x-small{
    display:none;
}
.small{
    display:none;
}

.medium{
    display:none;
}

.large{
    display:none;
}

.extra-large{
    display:none;
}

.extra-extra-large{
    display:none;
}


/*X-Small*/
/* Alle bis zu einer maximalen Breite von 1024px*/
@media (max-width: 576px){

    html,body{
        background-color: red;
    }

     .x-small{
        display: block;
    }

}

/*Small*/

@media ((min-width: 577px) and (max-width:767px)){

    html,body{
        background-color: purple;
    }

    .small{
        display: block;
    }
}

/*Medium*/

@media ((min-width: 768px) and (max-width: 991px)){

    html,body{
        background-color: grey;
    }

    .medium{
        display: block;
    }
}

/*Large*/
@media ((min-width: 991px) and (max-width:1201px)){

    html,body{
        background-color: yellow;
    }

    .large{
        display: block;
    }
}

/*Extra large*/
@media ((min-width: 1202px) and (max-width:1401px)){

    html,body{
        background-color: turquoise;
    }

    .extra-large{
        display: block;
    }
}

/*Extra extra large*/

@media (min-width: 1402px){

    html,body{
        background-color: tomato;
    }

    .extra-extra-large{
        display: block;
    }
}

/*****************************************************************/
/*Aufgabe 2:*/
.landscape {
    display: none;
}

.portrait {
    display: none;
}




/* Querformat (Breite > Höhe) */
@media (orientation: landscape) {
   
    .landscape {
        display: block;
    }
    
    .portrait,
    .orientation-info {
        display: none;
    }
}

/* Hochformat (Höhe > Breite) */
@media (orientation: portrait) {
    
    
    .portrait {
        display: block;
    }
    
    .landscape,
    .orientation-info {
        display: none;
    }
}

/*****************************************************************/
/*Aufgabe 2:*/

@media print{
/* Grundlegende Druckanpassungen */
    html, body {
        background-color: white !important;
        color: black !important;
        font-family: serif !important;
        font-size: 12pt !important;
        line-height: 1.5 !important;
    }
    
    /* Bilder ausblenden */
    img {
        display: none !important;
    }
    
    /* Nur large-Inhalt anzeigen */
    .large {
        display: block !important;
        color: black !important;
        font-size: 14pt !important;
    }
    
    /* Alle anderen Inhalte ausblenden */
    .x-small,
    .small,
    .medium,
    .extra-large,
    .extra-extra-large,
    .landscape,
    .portrait,
    .orientation-info {
        display: none !important;
    }
    
}


/*****************************************************************/
/*Aufgabe 4:*/

/* AUFGABE 4: 3-Spalten-Layout */
.container {
    display: grid;
    gap: 20px;
    padding: 20px;
}

/* Standard: 1 Spalte */
.container {
    grid-template-columns: 1fr;
}

/* Medium und Large: 2 Spalten */
@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* X-Large und größer: 3 Spalten */
@media (min-width: 1201px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}